*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    /* overflow-x: hidden; */
    overflow-x: hidden;
}
main{
    overflow: hidden;
}
#loader{
    height: 100vh;
    width: 100%;
    position:fixed;
    z-index: 999;
    background-color: #231a3b;
    color: white;
    display: flex;
    font-size: 60px;
    justify-content: center;
    align-items: center;
}
#minicircle{
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    width: 13px;
    height: 13px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: white;
}

#page1{
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    color: #fff;
}
video {
    position: absolute;
    /* opacity: 0.9; */
    overflow: hidden;
    filter: brightness(20%);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    object-fit: cover; /* Make the video cover the entire container */
    z-index: -1111;
}
#nav{
    /* background-color: red; */
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #ffffff2b;

}
#logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
#logo span{
    font-weight:900;
    color: #550BC7;
}
#nav h2{
    font-size: 2.7vh;
    font-weight: 1000;
}
.links {
    display: flex;
    gap: 90px;
    align-items: center;
    text-transform: uppercase;
}

.links a {

    position: relative;
    font-size: 17px;
    letter-spacing: 3px;
    text-decoration: none;
   color: #fff;
    font-weight: 20;
    /* padding: 5px; */
    margin: 0px 8px;
    transition: color 0.3s ease;
}

.links a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #550BC7;
    transition: width 0.3s ease, left 0.3s ease;
}
.links a:hover::before {
    width: 100%;
    left: 0;
    transition: width 0.3s ease 0.2s, left 0.3s ease 0.2s; /* Adding delay of 0.2s */
}

#hero{
    /* height: 70vh; */
    width: fit-content;
    /* background-color: red; */
    /* text-transform: uppercase; */
    padding-left:50px;
    padding-top: 0px;
    /* background-color: red; */
    border-left: 2px solid #550BC7;
    margin-top: 10vw;
    margin-left: 2vw;
    letter-spacing: 2px;

}

#hero h1{
    font-size: 10vh;
}
#hero span{
    color: #550BC7;
    font-weight: bold;
}
#hero #text {
    margin-top: 30px;
    width: fit-content;
    width: 80%;
    line-height: 2;
    font-size: 20px;
    font-weight: 200;
    /* background-color: black; */
}
.contact{
    margin-top: 40px;
    font-size: 2.1vh;
    padding: 10px 20px;
    color: white;
    border-radius: 5%;
    border: 1px solid white;
    background-color: transparent;
    transition: all ease 0.5s;
}
.contact:hover{
    cursor: pointer;
    /* background-color:rgba(0, 0, 0, 0.466) ; */
    background-color: #550BC7;
    filter: brightness(90%);
    /* color: #550BC7; */
}

#work-container{
    /* height: 8vh; */
    width: 99%;
    padding-top: 15px;
    font-weight: 900;
    letter-spacing: 3px;
    text-align: right;
    /* background-color: red; */
}
.last{
    height: 13vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* background-color: red; */
   display: flex;
   align-items: end;

   padding: 10px 50px;
   padding-bottom: 30px;
   justify-content: space-between;
}
.last3{
    display: flex;
    color: black;
}

.last31{
    background-color: #AAAAAA;
    font-size: 20px;
    padding: 3px 6px;
    margin-right: 7px;
    border-radius: 50%;
}
.last32{
    background-color: #AAAAAA;
    font-size: 20px;
    padding: 3px 6px;
    margin-right: 7px;
    border-radius: 50%
}
.last1{
    cursor: pointer;
}
#page2 {

    height: 100vh;
    width: 100%;
    color: white;
}
.second-heading{
    height: 30vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* background-color: red; */
    margin-top: 40px;
}
.second-heading p{
    margin-top: 30px;
    letter-spacing: 3px;
    border-bottom: 2px solid #550BC7;
}

.second-heading h1{
    font-size: 10vh;
    letter-spacing: -1px;
}
span{
    color: #550BC7;
    padding: 0 10px;
}

.dev-container{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 100px;
    height: 70vh;

}
.dev-heading{
    font-size: 6vh;
    margin-left: 35px;

    letter-spacing: 5px;
    opacity: 0.7;
}
.dev-heading span{
    align-items: center;
    font-size: 50px;
    color: #550BC7;
    font-weight: bold;
}
.dev-container h3{
    justify-content: center;
    font-weight: 100;
    font-size: 3vh;
    padding: 12px 10vh;
    letter-spacing: 1px;
    line-height: 2;
}
@media (max-width: 600px) {
    .dev-container h3{
        justify-content: center;
        font-size: 3vh;
        padding: 12px 3vh;
        letter-spacing: 1px;
        line-height: 2;
    }   
}
.dev{

    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 100px;
}
.dev img{

    padding: 10px 10px;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.922);
    display: flex;
    width: fit-content;
    height: 110px;
    transition: all ease 0.3s;

}
.dev img:hover{
 opacity: 0.6;
}

#page3{
    margin-top: 100px;
    color: white;
    /* height: 100vh; */
    width: 100%;
}
#container{
    padding-top: 150px;
    margin-left: 50px;
    margin-right: 120px;
    height: 80vh;
    text-transform: uppercase;
    /* background-color: red; */
}
#container h1{
    opacity: 0.6;
    font-size: 10vh;
    padding: 50px;
}
.cont1{
    border-top: 1px solid white;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid white;
}
.cont2{
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid white;
}
.cont3{
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid white;
}
#connect-container h1{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
#connect{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}
.icons{
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}